* {
    border: none;
    border-radius: 0;
    font-family: Liberation Sans, sans-serif;
    font-size: 16px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: #323232;
    color: white;
}

#workspaces button {
    padding-left: 3;
    padding-right: 3;
    color: #888888;
    border-top: 2px solid transparent;
    padding-top: 2px;
    padding-bottom: 4px;
}

#workspaces button.focused {
    background: #285577;
    color: white;
    border-color: #4C7899;
}

#clock, #battery {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#clock {

}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}
